Cython
dask
h5py
ipython
ipywidgets
jupyter
matplotlib
notebook
numpy
numba
pandas
psutil
scikit-image
scipy
setuptools
tifffile
widgetsnbextension

# Optional: install the variant matching system's CUDA version
# cupy-cuda12x
# numba-cuda
